
Tetris/obj/Debug/netcoreapp3.1/Tetris.genruntimeconfig.cache
Tetris/obj/Tetris.csproj.nuget.g.targets
Tetris/obj/Tetris.csproj.nuget.g.props
Tetris/obj/Tetris.csproj.nuget.dgspec.json
Tetris/obj/project.nuget.cache
Tetris/obj/project.assets.json
Tetris/obj/Debug/netcoreapp3.1/Tetris.pdb
Tetris/obj/Debug/netcoreapp3.1/Tetris.exe
Tetris/obj/Debug/netcoreapp3.1/Tetris.dll
Tetris/obj/Debug/netcoreapp3.1/Tetris.csprojAssemblyReference.cache
Tetris/obj/Debug/netcoreapp3.1/Tetris.csproj.FileListAbsolute.txt
Tetris/obj/Debug/netcoreapp3.1/Tetris.csproj.CoreCompileInputs.cache
Tetris/obj/Debug/netcoreapp3.1/Tetris.assets.cache
Tetris/obj/Debug/netcoreapp3.1/Tetris.AssemblyInfoInputs.cache
Tetris/obj/Debug/netcoreapp3.1/Tetris.AssemblyInfo.cs
Tetris/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Tetris/bin/Debug/netcoreapp3.1/Tetris.runtimeconfig.json
Tetris/bin/Debug/netcoreapp3.1/Tetris.runtimeconfig.dev.json
Tetris/bin/Debug/netcoreapp3.1/Tetris.pdb
Tetris/bin/Debug/netcoreapp3.1/Tetris.exe
Tetris/bin/Debug/netcoreapp3.1/Tetris.dll
Tetris/bin/Debug/netcoreapp3.1/Tetris.deps.json
Tetris/.vs/Tetris/v16/.suo
.vs/Tetris/v16/.suo
